@charset "UTF-8"; 

body { 
    background-color: cornflowerblue; 
    font: normal 15pt Arial;
} 
 
header {  
    text-align: center; 
    color: aliceblue;  
    text-shadow: 3px 5px 10px rgba(0, 0, 0, 0.486);

}  

section { 
    background-color: aliceblue; 
    border-radius: 10px; 
    padding: 15px; 
    width: 500px; 
    margin: auto; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);
}  

div { 
    text-align: center; 
    padding: 8px;
}

footer {  
    text-align: center; 
    color: aliceblue; 
    font-style: italic;  
    text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.486); 

}   
 
 
